.expandedSearch_parent {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  width: 80vw;
  background-color: white;
  z-index: 2;
  translate: 80vw;
  transition-timing-function: linear;
  transition-duration: 0.5s;
}
.expandedSearch__topIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.expandedSearch__pageSpaces {
  margin-top: 6vh;
  margin-right: 5rem;
}
.expandedSearch__searchResultContainer {
  margin-top: 2rem;
  position: relative;
  width: 100%;
}
.expandedSearch__searchResult {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.expandedSearch__result {
  margin-top: 2rem;
  display: flex;
}
.expandedSearch__inputSearch {
  -webkit-animation: 0.8s linear 0s normal forwards 1 fadein;
  animation: 0.8s linear 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
