.popularWatches__parent {
  min-height: calc(100vh - 10rem);
  padding-top: 10rem;
  margin-right: 8rem;
  margin-left: 4vw;
  font-family: var(--font-family1);
}
.centerTopContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--smallFont);
  margin-bottom: 2rem;
}
.centerTopContainer li {
  list-style: none;
}
.popularWatches__title {
  font-size: var(--smallFont);
  font-weight: bold;
}
.popularWatches__products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 760px) {
  .popularWatches__parent {
    margin-right: 0px;
    padding-top: 4rem;
    margin-left: 0vw;
  }
}
